{{>amp/header}}

<style amp-custom>
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Crimson Text";
  }

  h4 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #017A5B;
  }

  main>p,
  main>div,
  main>h2,
  main>figure>figcaption {
    padding: 1rem;
    font-size: 16px;
    font-family: "Raleway";
    line-height: 1.4em;
  }

  figure {
    margin: 1rem 0;
    padding: 0;
  }

  figure>figcaption {
    padding: .5rem 1rem;
  }

  .heading {
    padding-bottom: 8px;
  }

  .heading h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  amp-img {
    max-width: 100%;
  }

  amp-user-notification {
    padding: 8px;
    background: #bbb;
    text-align: center;
    color: white;
  }

  amp-carousel {
    text-align: center;
    margin-top: 30px;
  }

  amp-carousel amp-img {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
  }

  amp-selector {
    padding: 1rem;
    margin: 1rem;
  }

  .title {
    font-size: 30px;
    margin: 40px 0 20px;
    text-align: center;
    line-height: 1.2em;
  }

  .logo {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #212529;
  }

  .heading {
    text-align: center;
  }

  .social {
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 9;
    background: #FFF;
    width: 100%;
    padding: 8px 5px 5px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.10);
  }

  .green {
    background-color: #017A5B;
    color: #FFFFFF;
  }

  .green a {
    color: #FFF;
    text-decoration: none;
  }

  .grey {
    background-color: #EFEFE9;
  }

  .yellow {
    background-color: #FFE95E;
  }

  .carousel .slide>amp-img>img {
    object-fit: contain;
  }

  #categories .subcategory {
    background-color: #EFEFE9;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
  }

  .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
  }

  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  .what_list {
    text-align: center;
  }

  .what_list i {
    font-size: 80px;
    margin: 0 auto;
    display: table;
    color: #FFE95E;
  }


  .linea {
    background: #FFF;
    position: absolute;
    width: 60%;
    height: 2px;
    margin-top: 28px;
    left: 20%;
  }

  .ampTabContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .ampTabContainer .tabButton[selected] {
    outline: none;
  }

  .tabButton[selected] i {
    background: #00795A;
    border: solid 2px #00795A;
    color: #FFF;
  }

  .tabButton {
    width: 25%;
    text-align: center;
  }

  .tabButton i {
    background: #FFF;
    border: solid 2px #495057;
    border-radius: 30px;
    font-size: 30px;
    display: inline-block;
    color: #495057;
    padding: 12px;
    width: 30px;
    height: 30px;
  }

  .tabContent {
    display: none;
    width: 100%;
    text-align: center;
    order: 1;
    /* must be greater than the order of the tab buttons to flex to the next line */
  }

  .tabButton[selected]+.tabContent {
    display: block;
  }

  .input-group {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .form-control {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .btn {
    background: #00795A;
    color: #FFF;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #00795A;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }

  .btn:hover {
    background: #EFEFE9;
    color: #00795A;
    border-color: #EFEFE9;
  }

  .footer {
    background-color: #212529;
    padding: 20px;
    text-align: center;
    color: #FFF;
    padding-bottom: 70px;
  }
</style>
</head>

<body>
  <main>
    {{>amp/head}}
    <div class="heading">
      <h1>{{{ page.title }}}</h1>
      {{{ page.content }}}
    </div>
    <div class="grey">
      <h3>
        {{ page.sections.featured_categories_title }}
      </h3>
      {{{ page.sections.featured_categories }}}
      <amp-carousel height="250" layout="fixed-height" type="slides">
        {{#each categories as |category| }}
        {{#ifCond category.name '!=' 'International'}}
        {{#each category.subCategories as |subCategory|}}
        {{#if subCategory.featured}}
        <figure>
          <a href="/{{ config 'CATEGORY_BASE'}}/{{subCategory.slug}}/amp/">
            <amp-img src="/image-text/{{category.slug}}.jpg" width="150" height="150"></amp-img>
          </a>
          <figcaption>
            <a href="/{{ config 'CATEGORY_BASE'}}/{{subCategory.slug}}/amp/">{{subCategory.name}}</a>
          </figcaption>
        </figure>
        {{/if}}
        {{/each}}
        {{/ifCond}}
        {{/each}}
      </amp-carousel>
    </div>

    <div class="grey">
      {{#if page.descriptions}} {{#each page.descriptions as |descriptions| }}
      <h2 class="mt-5">{{{ descriptions.title }}}</h2>
      {{{ descriptions.description }}}
      {{/each}} {{/if}}
    </div>

    {{>amp/footer}}