{{>amp/header}}

<style amp-custom>
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Crimson Text";
  }

  a {
    text-decoration: none;
    color: #017A5B;
  }

  main {
    font-family: "Raleway";
  }

  main>p,
  main>div,
  main>figure>figcaption {
    padding: 1rem;
    font-size: 15px;
    line-height: 1.4em;
  }

  .heading {
    padding-bottom: 8px;
  }

  .heading h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  amp-img {
    max-width: 100%;
  }

  amp-user-notification {
    padding: 8px;
    background: #bbb;
    text-align: center;
    color: white;
  }

  .title {
    font-size: 25px;
    margin: 20px 0;
    line-height: 1.2em;
    color: #000;
  }

  .logo {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #212529;
  }

  .heading {
    text-align: center;
  }

  .social {
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 9;
    background: #FFF;
    width: 100%;
    padding: 8px 5px 5px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.10);
  }


  .footer {
    background-color: #212529;
    padding: 20px;
    text-align: center;
    color: #FFF;
    padding-bottom: 70px;
  }

  .data {
    background-color: #343a40;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    padding: 0;
    margin: 1.25rem;
  }

  .card-body {
    color: #f8f9fa;
    padding: 1.25rem;
  }

  .card-body h5,
  h2 {
    font-size: 1.5rem;
    margin: 10px 0 0;
    line-height: 1.2em;
  }

  .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    background-color: #FFF;
    margin: 0;
    padding: 1.25rem 2rem 1.50rem;
    list-style: none;
  }

  .card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
  }

  .card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125);
  }

  .card-footer a {
    color: #FFF;
  }
</style>
</head>

<body>
  <main>
    {{>amp/head}}
    <div class="heading">
      <div class="breadcrumb">
        <a href="/amp/">Home</a> / <a href="/{{config 'CATEGORY_BASE'}}/{{category.slug}}/amp/">{{category.name}}</a> /
        {{scholarship.title}}
      </div>

      <h1>{{scholarship.title}}</h1>
      {{{scholarship.description}}}
      <amp-img alt="{{scholarship.title}}" src="/image/{{scholarship.slug}}.jpg" width="300" height="75"
        layout="responsive">
      </amp-img>
      {{#if scholarship.benefits}}
      <h2>{{ __ "scholarship.benefits" }}</h2> {{{ scholarship.benefits }}} {{/if}}
      {{#if scholarship.requirements}}
      <h2>{{ __ "scholarship.requirements" }}</h2> {{{ scholarship.requirements }}} {{/if}}

    </div>

    <div class="data" id="contacto">
      {{#if scholarship.sponsor}}
      <div class="card-body text-white px-4 pb-1 pt-5">
        <h3 class="card-title">{{ __ "scholarship.sidebarHeader" }}</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item mt-2">
          {{#if scholarship.sponsor.text}}
          <span>{{ __ "scholarship.sidebarSponsor" }}</span>
          {{#if scholarship.sponsor.url}}
          <a href="{{scholarship.sponsor.url}}" target="_blank" rel="nofollow">
            <p>{{scholarship.sponsor.text}}</p>
          </a>
          {{/if}}
          {{/if}}
        </li>
      </ul>
      {{/if}}


      {{#if scholarship.endDuration}}
      <ul class="list-group list-group-flush">
        {{#has_expired scholarship.endDuration}}
        <li class="list-group-item mt-2">
          <p><i class="far fa-hourglass"></i> {{ __ "scholarship.dateExpired" }}</p>
        </li>
        {{else}}
        {{#has_expired scholarship.startDuration}}
        <li class="list-group-item mt-2">
          <p><i class="fas fa-hourglass"></i> {{ __ "scholarship.dateAvailable" }}</p>
        </li>
        <li class="list-group-item mt-2">
          <p><i class="far fa-hourglass"></i> {{ __ "scholarship.deadLine" }}</p>
          <span>{{dateFormatScholarship scholarship.endDuration false "extended"}}</span>
        </li>
        {{else}}
        <li class="list-group-item mt-2">
          <p><i class="fas fa-hourglass"></i> {{ __ "scholarship.openDate" }}</p>
          <span>{{dateFormatScholarship scholarship.startDuration true "extended"}}</span>
        </li>
        <li class="list-group-item mt-2">
          <p><i class="far fa-hourglass"></i> {{ __ "scholarship.deadLine" }}</p>
          <span>{{dateFormatScholarship scholarship.endDuration false "extended"}}</span>
        </li>
        {{/has_expired}}
        {{/has_expired}}
      </ul>
      {{/if}}

      {{#if scholarship.contact}}
      <div class="card-body text-white px-4 pb-1 pt-5">
        <h3 class="card-title">{{ __ "scholarship.sidebarContact" }}</h3>
      </div>
      <ul class="list-group list-group-flush">
        {{#if scholarship.contact.name}}
        <li class="list-group-item mt-2">
          <p><i class="fas fa-user-friends"></i> {{ __ "scholarship.sidebarContactName" }}</p>
          <span>{{scholarship.contact.name}}</span>
        </li>
        {{/if}}
        {{#if scholarship.contact.email}}
        <li class="list-group-item mt-2">
          <p><i class="far fa-envelope"></i> {{ __ "scholarship.sidebarContactEmail" }}</p>
          <span>{{scholarship.contact.email}}</span>
        </li>
        {{/if}}
        {{#if scholarship.contact.phone}}
        <li class="list-group-item mt-2">
          <p><i class="fas fa-phone"></i> {{ __ "scholarship.sidebarContactPhone" }}</p>
          <span>{{scholarship.contact.phone}}</span>
        </li>
        {{/if}}
        {{#if scholarship.contact.address}}
        <li class="list-group-item mt-2">
          <p><i class="fas fa-map-marker-alt"></i> {{ __ "scholarship.sidebarContactAddress" }}</p>
          <span>{{scholarship.contact.address}}</span>
        </li>
        {{/if}}
      </ul>
      {{/if}}

      {{#if scholarship.source.name}}
      <div class="card-body text-white px-4 pb-1 pt-5">
        <h3 class="card-title">{{ __ "scholarship.sidebarSource" }}</h3>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item mt-2">
          {{#if scholarship.source.url}}
          <a href="{{scholarship.source.url}}" target="_blank" rel="nofollow">
            {{/if}}
            <p>{{scholarship.source.name}}</p>
            {{#if scholarship.source.url}}
          </a>
          {{/if}}

        </li>
      </ul>
      {{/if}}
      <div class="card-footer">
      </div>
    </div>

    {{>amp/footer}}