<footer>
    <div class="mb-4 p-5">
        {{ __ 'footer.copyright'}}
        <br><a href="{{ __ 'footer.legalLink' }}/" rel="nofollow" target="_blank">{{ __ 'footer.legalText'}}</a> |
        <a href="{{ __ 'footer.privacyLink' }}/" rel="nofollow" target="_blank">{{ __ 'footer.privacyText' }}</a> |
        <a href="{{ __ 'footer.cookieLink'}}/" rel="nofollow" target="_blank">{{ __ 'footer.cookieText'}}</a>
    </div>
</footer>

<a href="#" id="back-to-top" title="{{ __ 'footer.cookiesBackToTop'}}">&uarr;</a>

<div id="cookie_directive_container" style="display: none">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-inner navbar-content-center" id="cookie_accept">
                <span id="accept" class="btn btn-default pull-right">{{ __ 'footer.cookiesCloseText'}}</span>
                <p class="text-muted credit p-2 m-0">
                    {{{ __ 'footer.cookiesPopUp'}}}
                    <a href="{{ __ 'footer.cookieLink'}}/" target="_blank">{{ __ 'footer.cookieText'}}</a>.
                </p>
            </div>
        </div>
    </nav>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/newsletter/ouibounce.min.js"></script>
<script src="/js/newsletter/newsletter.js"></script>
<script src="/js/init.js"></script>

</body>

</html>