<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{metas.title}}</title>
    <meta name="description" content="{{metas.description}}" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="Subscribe to {{ config 'WEB_TITLE'}}"
        href="{{ config 'URL'}}rss/" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {{> opengraph/opengraph }} {{#unless isCatalog }}
    <link rel="amphtml" href="{{metas.canonical}}amp/"> {{/unless}} {{#if metas.noIndex }}
    <meta name="googlebot" content="noindex"> {{/if}} {{#if paginate }} {{{ prevnext paginate pages pageCount }}}
    {{/if}}
    <link rel="canonical" href="{{metas.canonical}}">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/newsletter/newsletter.css" />
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,700|Josefin+Sans:100,300,400,700"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script charset="UTF-8" src="//cdn.sendpulse.com/js/push/{{ config 'SENDPULSE_CODE' }}.js" async></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config 'GOOGLE_ANALYTICS_ID'}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', "{{ config 'GOOGLE_ANALYTICS_ID'}}");
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-8490376538748103",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>

    {{> newsletter/modal }}

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=164975266860989&autoLogAppEvents=1"></script>
    <div id="header" class="row">
        <div class="container" id="header">
            <div class="row">
                <div class="col-md-8 p-4">
                    <a href="/" title="{{ config 'WEB_TITLE'}}"><img alt="{{ config 'HD_IMG_ALT'}}"
                            src="/img/{{ config 'HD_IMG_NAME'}}" height="45" /></a>
                </div>
                <div class="col-md-4 align-right p-4">
                    <div class="search">
                        <form class="input-group" action="/{{ __ 'searchEngine.actionName'}}/" method="POST">
                            <input class="form-control" placeholder="{{ __ 'searchEngine.placeholder' }}"
                                name="srch_term" id="srch_term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">{{ __ 'searchEngine.buttonText' }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>