<div id="sidebar" class="mt-5 pt-2">

    <div class="search px-5 py-2">
        <h4>{{ __ "sidebar.searchTitle"}}</h4>
        <form class="input-group" action="/{{ __ 'searchEngine.actionName'}}/" method="POST">
            <input class="form-control" placeholder="{{ __ 'searchEngine.placeholder' }}" name="srch_term"
                id="srch_term" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit">{{ __ 'searchEngine.buttonText' }}
                </button>
            </div>
        </form>
    </div>

    <div class="widget catalogo px-5 py-2">
        <div class="fb-page" data-href="{{ config 'FB_PAGE_URL' }}" data-tabs="timeline" data-width="" data-height=""
            data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="{{ config 'FB_PAGE_URL' }}" class="fb-xfbml-parse-ignore"><a
                    href="{{ config 'FB_PAGE_URL' }}">{{
                    config 'FB_PAGE_NAME' }}</a></blockquote>
        </div>
    </div>

    {{#if keywords }}
    <div class="widget catalogo px-5 py-2">
        <h4>{{ __ "sidebar.catalogTitle"}}</h4>
        <ul>
            {{#each keywords }}
            <li><a href="/{{ config 'CATALOG_BASE'}}/{{this.slug}}/">{{this.text}}</a></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>