{{> header }}
<div class="container">
    <div class="col-md-12 p-5 my-5 text-center">
        <div class="page-header">
            <h1 class="display-2">
                <i class="la la-meh-o"></i>
                <br /> Oooops!
            </h1>
        </div>
        <div class="my-5">
            <h2> {{ __ "404.title" }}</h2>
            <div class="error-details">{{ __ "404.text" }}</div>
            <div class="error-actions m-5">
                <a href="/" class="btn btn-primary btn-lg">
                    <i class="la la-home"></i>
                    {{ __ "404.goHomepage" }}
                </a>
            </div>
        </div>
    </div>
</div>
{{> footer }}