{{> header }}
{{{ insertAd 'MENU' }}}

<div class="container">
  <div class="row">
    <div class="col-md-12 p-5">
      <div class="page-header text-center">
        <h1 class="display-4">
          {{firstUpp keyword.text }}
        </h1>
      </div>
      <div class="text-center p-3">
        {{#ifCond scholarships.length '==' 0}}
        <h2 class="m-4">{{ __ 'searchEngine.noResults' }}</h2>
        {{/ifCond}} {{#ifCond scholarships.length '>' 0}} {{{ insertAd 'CATALOGO_INTRO_SUPERIOR' }}}
        <p>{{{ texts.[0] }}}</p>
        <p>{{{ texts.[1] }}}</p>
        <p>{{{ texts.[2] }}}</p>
        {{/ifCond}} {{{ insertAd 'CATALOGO_INTRO_INFERIOR' }}}
      </div>
    </div>
  </div>
</div>

{{#ifCond scholarships.length '==' 0}}
<div class="container">
  <div class="mb-5 px-5 text-center">
    {{__ 'searchEngine.otherQuery'}}
    <form class="input-group m-5" action="/{{ __ 'searchEngine.actionName'}}/" method="POST">
      <input class="form-control mr-2 mb-5" placeholder="{{ __ 'searchEngine.placeholder'}}" name="srch_term"
        id="srch_term" type="text" />
      <button class="btn mb-5" type="submit">
        {{{ __ 'searchEngine.buttonText'}}} <i class="la la-binoculars"></i>
      </button>
    </form>
  </div>
</div>
{{/ifCond}} {{#ifCond scholarships.length '>' 0}}
<div class="row m-0 flex-column-reverse flex-md-row">
  <div class="col-md-4 left-column">
    {{> sidebar }}
  </div>

  <div class="col-md px-0">
    <div class="container p-5 pt-5" id="categories">
      <h2>{{ subtitle }}</h2>
      <p>{{{ texts.[3] }}}</p>
      {{{ insertAd 'CATALOGO_RESULTADOS_LINKS' }}}
    </div>

    <img src="/catalog-image/{{ keyword.slug }}.jpg" title="{{ keyword.text }}" />
    {{{ insertAd 'CATALOGO_RESULTADOS_SUPERIOR'



    }}}

    <div class="container p-0">
      {{#each scholarships}} {{> catalog/listedScholarships scholarship=this cadena=../keyword.text index=@index }}
      {{#ifCond @index
            '==' 2}}
      <div class="container p-5 pt-5" id="categories">{{{ ../texts.[4] }}}</div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{../video}}?rel=0"
          allowfullscreen></iframe>
      </div>
      {{/ifCond}} {{#ifCond @index '==' 7}}
      <div class="container p-5 pt-5" id="categories">{{{ ../texts.[5] }}} {{{ ../texts.[6] }}}</div>
      {{/ifCond}} {{/each}} {{#ifCond scholarships.length '>=' 5}} {{{ insertAd 'CATALOGO_RESULTADOS_INFERIOR' }}}
      {{/ifCond}}
    </div>
  </div>
</div>
{{/ifCond}} {{> footer }}