{{> header }} {{{ insertAd 'MENU' }}}

<div class="container">
  <div class="row">
    <div class="col-md-12 p-5" id="main-header">
      <div class="page-header text-center">
        <h1 class="display-3 mb-2">{{ categoryTitle category}}</h1>
      </div>
      <div class="p-2 text-center">
        {{{ insertAd 'CATEGORIA_INTRO' }}}
        {{#if category.descriptions}}
        {{{category.descriptions.[0]}}}
        {{else}}
        {{{ categoryMainText category.name}}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="yellow text-center" id="listado-becas">
  <div class="container">
    <div class="p-5">
      {{#if isParent}}
      <h2>{{{ replaceStr (__ "category.parentContentTitle") '[CATEGORY]' category.name }}}</h2>
      <p>{{{ replaceStr (__ "category.parentContentText") '[CATEGORY]' category.name }}}</p>
      {{else}}
      <h2>{{{ replaceStr (__ "category.contentTitle") '[CATEGORY]' category.name }}}</h2>
      <p>{{{ replaceStr (__ "category.contentText") '[CATEGORY]' category.name }}}</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="row m-0 flex-column-reverse flex-md-row">
  <div class="col-md-4 left-column">
    {{> sidebar }}
  </div>
  <div class="col-md px-0" id="scholarships-list">
    {{{ insertAd 'CATEGORIA_LISTADO_SUPERIOR' }}}
    {{#ifCond scholarships.length '>' 0 }}
    {{#ifCond category.subCategories.length '>' 0 }}
    {{> category/parentWithScholarships}}
    {{/ifCond}}
    {{/ifCond}}
    {{#ifCond scholarships.length '==' 0 }}
    {{#ifCond category.subCategories.length '>' 0 }}
    {{> category/parentWithoutScholarships}}
    {{/ifCond}}
    {{/ifCond}}
    {{#ifCond category.subCategories.length '==' 0 }}
    {{> category/child }}
    {{/ifCond}}

    {{{ insertAd 'CATEGORIA_LISTADO_INFERIOR'}}}

    {{#pagination paginate pages pageCount}}{{/pagination}}
  </div>
</div>
{{> footer }}