{{> header }}
<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="page-header">
                <h1 class="display-5">
                    {{{ __ "disclaimer.title"}}}
                </h1>
            </div>
            <div class="my-5">
                {{{ __ "disclaimer.intro"}}}
                <p>{{ config 'SHORT_URL'}} </p>
                {{{ __ "disclaimer.content"}}}
            </div>
        </div>
    </div>
</div>
{{> footer }}