{{> header }} {{{ insertAd 'MENU' }}}

<div id="main-header" class="container center-text p-2">
    <div class="row">
        <div class="col-md-12 p-5 text-center">
            <div class="page-header">
                <h1 class="display-3 mb-4">
                    {{{ page.title }}}
                </h1>
            </div>
            {{{ page.content }}}
        </div>
    </div>
    {{{ insertAd 'CATEGORIA_LISTADO_SUPERIOR' }}}
</div>

<div id="main-body" class="row m-0 flex-column-reverse flex-md-row">
    <div id="sidebar" class="col-md-4 left-column">
        {{> sidebar }}
    </div>
    <div id="main-content" class="col-md px-0">
        <div class="container p-5 pt-5" id="categories">
            <h2 class="big-title text-center mb-2 mt-5">
                {{ page.sections.featured_categories_title }}
            </h2>
            <p class="p-2 mb-5 text-center">
                {{{ page.sections.featured_categories }}}
            </p>
            <div class="row">
                {{#each categories as |category| }} {{#ifCond category.name '!=' 'International'}}
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card lista-becas ml-3">
                        <div class="card-body p-5">
                            <h3 class="title text-center">
                                <a href="/{{ config 'CATEGORY_BASE'}}/{{category.slug}}/" class="text-white">
                                    {{ category.name }}
                                </a>
                            </h3>
                            <div class="list-group categories">
                                {{#each category.subCategories as |subCategory|}} {{#if subCategory.featured}}
                                <a href="/{{ config 'CATEGORY_BASE'}}/{{subCategory.slug}}/"
                                    class="list-group-item list-group-item-action text-center">
                                    {{ subCategory.name }}
                                </a>
                                {{/if}} {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/ifCond}} {{/each}}
            </div>
        </div>

        {{#if page.descriptions}} {{#each page.descriptions as |descriptions| }}
        <div class="container center-text p-2">
            <div class="row">
                <div class="col-md-12 p-5">
                    <h2 class="mt-5">{{{ descriptions.title }}}</h2>
                    {{{ descriptions.description }}}
                </div>
            </div>
        </div>
        {{/each}} {{/if}}

    </div>
</div>
{{> footer }}