{{> header }}
<div class="container">
	<div class="row">
		<div class="col-md-12 p-5">
			<div class="page-header">
				<h1 class="display-5">
					{{{ page.title }}}
				</h1>
			</div>
			<div class="my-5">
				{{{ page.content }}}
			</div>
		</div>
	</div>
</div>
{{> footer }}