{{> header }}
<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="page-header">
                <h1 class="display-5">
                    {{{ __ "privacy.title"}}}
                </h1>
            </div>
            <div class="my-5">
                {{{ __ "privacy.intro"}}}
                <p>{{ config 'SHORT_URL'}}</p>
                {{{ __ "privacy.content"}}}
                {{{ __ "privacy.moreContent"}}}
            </div>
        </div>
    </div>
</div>
{{> footer }}