{{> header }}
{{> scholarship/ldJson }}
<div class="row m-0 flex-column-reverse flex-md-row">
    <div class="col-md-4 left-column">
        <div class="card" id="contacto">

            {{#if scholarship.sponsor}}
            <div class="card-body text-white px-4 pb-1 pt-5">
                <h3 class="card-title">{{ __ "scholarship.sidebarHeader" }}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item mt-2">
                    {{#if scholarship.sponsor.text}}
                    <span>{{ __ "scholarship.sidebarSponsor" }}</span>
                    {{#if scholarship.sponsor.url}}
                    <a href="{{scholarship.sponsor.url}}" target="_blank" rel="nofollow">
                        <p>{{scholarship.sponsor.text}}</p>
                    </a>
                    {{/if}}
                    {{/if}}
                </li>
                <div class="bg-white p-0 m-0">
                    {{{ insertAd 'BECA_DATOS' }}}
                </div>
            </ul>
            {{/if}}

            {{#if scholarship.endDuration}}
            <ul class="list-group list-group-flush">
                {{#has_expired scholarship.endDuration}}
                <li class="list-group-item mt-2">
                    <p><i class="far fa-hourglass"></i> {{ __ "scholarship.dateExpired" }}</p>
                </li>
                {{else}}
                {{#has_expired scholarship.startDuration}}
                <li class="list-group-item mt-2">
                    <p><i class="fas fa-hourglass"></i> {{ __ "scholarship.dateAvailable" }}</p>
                </li>
                <li class="list-group-item mt-2">
                    <p><i class="far fa-hourglass"></i> {{ __ "scholarship.deadLine" }}</p>
                    <span>{{dateFormatScholarship scholarship.endDuration false "extended"}}</span>
                </li>
                {{else}}
                <li class="list-group-item mt-2">
                    <p><i class="fas fa-hourglass"></i> {{ __ "scholarship.openDate" }}</p>
                    <span>{{dateFormatScholarship scholarship.startDuration true "extended"}}</span>
                </li>
                <li class="list-group-item mt-2">
                    <p><i class="far fa-hourglass"></i> {{ __ "scholarship.deadLine" }}</p>
                    <span>{{dateFormatScholarship scholarship.endDuration false "extended"}}</span>
                </li>
                {{/has_expired}}
                {{/has_expired}}
            </ul>
            {{/if}}

            {{#if scholarship.contact}}
            <div class="card-body text-white px-4 pb-1 pt-5">
                <h3 class="card-title">{{ __ "scholarship.sidebarContact" }}</h3>
            </div>
            <ul class="list-group list-group-flush">
                {{#if scholarship.contact.name}}
                <li class="list-group-item mt-2">
                    <p><i class="fas fa-user-friends"></i> {{ __ "scholarship.sidebarContactName" }}</p>
                    <span>{{scholarship.contact.name}}</span>
                </li>
                {{/if}}
                {{#if scholarship.contact.email}}
                <li class="list-group-item mt-2">
                    <p><i class="far fa-envelope"></i> {{ __ "scholarship.sidebarContactEmail" }}</p>
                    <span>{{scholarship.contact.email}}</span>
                </li>
                {{/if}}
                {{#if scholarship.contact.phone}}
                <li class="list-group-item mt-2">
                    <p><i class="fas fa-phone"></i> {{ __ "scholarship.sidebarContactPhone" }}</p>
                    <span>{{scholarship.contact.phone}}</span>
                </li>
                {{/if}}
                {{#if scholarship.contact.address}}
                <li class="list-group-item mt-2">
                    <p><i class="fas fa-map-marker-alt"></i> {{ __ "scholarship.sidebarContactAddress" }}</p>
                    <span>{{scholarship.contact.address}}</span>
                </li>
                {{/if}}
            </ul>
            {{/if}}
        </div>
        {{> sidebar }}
        {{#if scholarship.source.name}}
        <div class="card" id="contacto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item mt-2">
                    <span>{{ __ "scholarship.sidebarSource" }}</span>
                    {{#if scholarship.source.url}}
                    <a href="{{scholarship.source.url}}" target="_blank" rel="nofollow">
                        {{/if}}
                        <p>{{scholarship.source.name}}</p>
                        {{#if scholarship.source.url}}
                    </a>
                    {{/if}}

                </li>
            </ul>
        </div>
        {{/if}}
    </div>

    <div class="col-md-8 right-column">
        {{{ insertAd 'MENU' }}}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mt-4">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a
                        href="/{{config 'CATEGORY_BASE'}}/{{category.slug}}/">{{category.name}}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>{{scholarship.title}}</span></li>
            </ol>
        </nav>

        <h1 class="display-3 mt-5 mb-4">{{scholarship.title}}</h1>
        {{{ insertAd 'BECA_INTRO' }}}
        <hr class="mb-3" />
        <div class="meta-data">
            <span class="data"><i class="la la-calendar"></i>
                {{dateFormat scholarship.publishDate "abr" false null }}</span>
            <a href="/{{config 'CATEGORY_BASE'}}/{{category.slug}}/" class="category float-right">{{category.name}}</a>
        </div>
        <hr class="mb-4" />

        <img src="/image/{{scholarship.slug}}.jpg" title="{{scholarship.title}}" class="my-4" /> {{{ insertAd 'BECA_IMAGEN_LINKS'
        }}}

        <div class="content">
            {{{ insertAd 'BECA_CONTENIDO_SUPERIOR' }}} {{{ scholarship.description }}}
        </div>
        {{#if scholarship.benefits}}
        <div class="content">
            <h2>{{ __ "scholarship.benefits" }}</h2>
            {{{ scholarship.benefits }}}
        </div>
        {{/if}} {{#if scholarship.requirements}}
        <div class="content">
            <h2>{{ __ "scholarship.requirements" }}</h2>
            {{{ scholarship.requirements }}}
        </div>
        {{/if}} {{{ insertAd 'BECA_CONTENIDO_INFERIOR' }}}
    </div>
</div>
{{> scholarship/comments }} {{> footer }}