{{> header }}

<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="page-header text-center">
                <h1 class="display-4">
                    {{firstUpp cadena}}
                </h1>
            </div>
            <div class="text-center p-3">
                {{#ifCond scholarships.length '==' 0}}
                <h2 class="m-4">{{ __ 'searchEngine.noResults' }}</h2>
                {{/ifCond}} {{#ifCond scholarships.length '>' 0}} {{{ __ 'searchEngine.results' }}} {{/ifCond}}
            </div>
        </div>
    </div>
</div>

{{#ifCond scholarships.length '==' 0}}
<div class="container">
    <div class="mb-5 px-5 text-center">
        {{__ 'searchEngine.otherQuery'}}
        <form class="input-group m-5" action="/{{ __ 'searchEngine.actionName'}}/" method="POST">
            <input class="form-control mr-2 mb-5" placeholder="{{ __ 'searchEngine.placeholder'}}" name="srch_term" id="srch_term" type="text">
            <button class="btn mb-5" type="submit">{{{ __ 'searchEngine.buttonText'}}} <i class="la la-binoculars"></i>
            </button>
        </form>
    </div>
</div>
{{/ifCond}} {{#ifCond scholarships.length '>' 0}}
<div class="row m-0 flex-column-reverse flex-md-row principal-row">
    <div class="col-md-4 left-column">
        {{> sidebar }}
    </div>

    <div class="col-md px-0">
        {{#each scholarships}} {{#ifCond @index '==' 2}} {{{ insertAd 'CATEGORIA_LISTADO_SUPERIOR' }}} {{/ifCond}} {{> search/listedScholarships
        scholarship=this cadena=../cadena index=@index }} {{/each}} {{#ifCond scholarships.length '>=' 5}} {{{ insertAd 'CATEGORIA_LISTADO_INFERIOR'
        }}} {{/ifCond}}
    </div>
</div>
{{/ifCond}} {{> footer }}