body {
  font-family: 'EB Garamond', sans-serif;
  font-display: auto;
  font-weight: 300;
}

.la {
  font-display: auto !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold !important;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter !important;
}

h4 {
  margin-top: 20px;
  /*text-transform: uppercase;*/
  letter-spacing: 1px;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

footer {
  background-color: #4f7a75;
  color: white;
  width: 100%;
  bottom: 0px;
  text-align: center;
  font-family: 'Josefin Sans';
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fafafa;
}

footer div {
  font-size: 1.1rem;
}

div,
p,
ol,
ul,
table,
input,
.form-control,
.btn {
  font-size: 1.5em;
  font-size: 1.5rem;
  color: #32383e;
  line-height: 1.5em;
}

table {
  font-family: 'Josefin Sans';
}

p a {
  color: #507a75;
}

a {
  color: #000000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

#header {
  background: #4f7a75;
}

.left-column {
  background-color: #f2efe6;
  max-width: 400px !important;
  padding: 0;
}

.right-column {
  padding-left: 3rem;
}

#sidebar .widget {
  margin: 2rem 0;
  overflow: hidden;
}

#sidebar h4 {
  font-size: 3rem;
}

#sidebar .search {
  /* background-color: #B2AEA4; */
  color: #000;
}

#sidebar .catalogo {
  font-family: 'Josefin Sans', sans-serif;
}

#sidebar .catalogo ul li {
  list-style: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  padding: 10px 0;
}

#sidebar .catalogo ul li::before {
  content: '\2022';
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #8cb5af;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

#pagination a {
  color: #507a75;
  border-color: #deedeb;
  font-family: 'Josefin Sans', sans-serif;
}

#pagination .page-item.active .page-link {
  background-color: #507a75;
  color: #fff;
}

#contacto,
#contacto .card-footer {
  border-radius: 0;
  border-color: #212429;
  background-color: #212429;
}

#contacto .list-group-item {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.125);
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
}

#contacto .list-group-item span {
  font-size: 1rem;
  font-weight: 100;
}

#contacto .list-group-item p {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-size: 1.3rem;
  font-family: 'Josefin Sans', sans-serif;
}

.breadcrumb a {
  border-bottom: 4px solid #c68c4b;
  padding-bottom: 3px;
}

.breadcrumb span {
  border-bottom: 4px solid #8bb5af;
  padding-bottom: 3px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.meta-data .category {
  background-color: #fee769;
  text-transform: uppercase;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0.25rem 0.5rem 0rem;
  font-size: 1.2rem;
}

.meta-data .data {
  font-family: 'Josefin Sans', sans-serif;
  color: #000;
  font-size: 1.3rem;
  padding: 0.25rem 0rem 0rem;
}

.meta-data a.data {
  color: #507a75;
}

.content h2,
.content h3 {
  margin-top: 1em;
}

.la-bg {
  font-size: 120px;
  color: #ffe95e;
  position: absolute;
  margin-top: -60px;
  margin-left: -50px;
  z-index: 1;
}

#categories {
  background-color: #d3e5e2;
}

#categories .list-group-item {
  border-color: #efefe9;
}

#categories .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.categories {
  font-size: 1.3rem;
  font-family: 'Josefin Sans';
}

.content-relative {
  position: relative;
  z-index: 9;
}

.form-control,
.btn {
  border: 0;
  border-radius: 0;
}

.yellow {
  background-color: #ffe95e;
}

.grey {
  background-color: #efefe9;
}

.green {
  background-color: #017a5b;
}

.big-title {
  font-size: 50px;
}

#featured-scholarships h5,
#featured-categories h5,
#last-scholarships h5 {
  font-family: 'Josefin Sans';
  margin-top: 15px;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: normal;
  line-height: 1.2em;
}

#last-scholarships span {
  font-size: 12px;
}

#last-scholarships .description {
  font-size: 0.9rem;
}

.title-section {
  font-weight: lighter;
  margin: 0;
  letter-spacing: 3px;
}

.title-listado {
  background-color: #000;
  color: #fff;
  padding: 25px;
}

.card.lista-becas {
  width: 100%;
  margin: 0 0 50px;
  border-radius: 0;
  border: 0;
}

.card.lista-becas h3 {
  font-family: 'Josefin Sans';
}

.card.lista-becas .card-body {
  z-index: 2;
  border: solid 1px #507a75;
  padding: 1.5rem;
  background: #507a75;
  color: #fff;
}

.card.lista-becas h3 {
  margin-bottom: 20px;
  line-height: 1.3em;
}

.card.lista-becas .card-footer {
  /* background-color: #00795A;
      border-radius: 0 0 10px 10px;*/
  border: none;
  background-color: #efefe9;
}

.card.lista-becas .card-footer .la {
  font-size: 1.3rem;
}

.card.lista-becas .thumbnail {
  margin-right: 15px;
}

.card-grey {
  border: solid 1px #efefe9;
  background-color: #efefe9;
  padding: 1.5rem;
  margin: 10px 0;
}

.card-border-grey {
  border: solid 1px #efefe9;
  border-left-width: 15px;
  padding: 1.5rem;
  margin: 10px 0;
}

.btn {
  background: #c68c4b;
  color: #ffffff;
  border-color: #ffffff;
}

.btn:hover {
  background: #9e9d98;
  border-color: #9e9d98;
}

.custom-counter {
  margin: 15px;
  padding: 0;
  list-style-type: none;
}

.custom-counter li.counter {
  counter-increment: step-counter;
  margin-bottom: 15px;
  padding-left: 40px;
}

.custom-counter li.counter::before {
  content: counter(step-counter);
  margin-right: 10px;
  font-size: 100%;
  background-color: #ffe95e;
  color: #000;
  font-weight: bold;
  padding: 3px 10px 5px;
  position: absolute;
  margin-left: -40px;
}

.custom-counter ul {
  margin: 10px 20px 20px;
}

.ad {
  min-height: 90px;
}

.ad-rect {
  min-height: 250px;
}

.la.bg-icon {
  position: absolute;
  font-size: 120px;
  color: #f3af44;
  top: -10px;
  left: -10px;
  opacity: 0.5;
  z-index: 1;
}

#pasos {
  width: 100%;
}

#pasos .linea {
  background: #fff;
  position: absolute;
  width: 60%;
  height: 2px;
  margin-top: 32px;
  left: 20%;
}

#pasos .nav-tabs {
  border: none;
  position: relative;
}

#pasos .nav-tabs .nav-link {
  background: #fff;
  border: solid 2px #495057;
  border-radius: 3rem;
  font-size: 30px;
  display: inline-block;
  color: #495057;
}

#pasos .nav-tabs .nav-link.active {
  background: #00795a;
  border: solid 2px #00795a;
  color: #fff;
}

#pasos .nav-tabs .nav-item {
  width: 25%;
  text-align: center;
}

#cookie_directive_container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: inherit;
  bottom: 0px;
  border-top: 1px solid #cecece;
  position: fixed;
  z-index: 99;
  text-align: center;
  font-size: 12px;
}

span.categories {
  font-weight: lighter;
  font-size: 13px;
  line-height: 1.2em;
}

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
  color: #444;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top:hover {
  background: #e9ebec;
}

#back-to-top.show {
  opacity: 1;
}

.index {
  border: solid 1px #444;
}

.index ol,
.index ul {
  font-size: 0.9rem;
}

.index ul {
  padding: 0;
}

.submenu {
  height: 40px;
}

#dudas blockquote {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1rem;
  background-color: #fff;
  color: #495057;
  border-left: 5px solid #d8d8d5;
}

#dudas .blockquote-footer {
  font-size: 1rem;
}

#dudas .disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  font-family: Raleway, sans-serif;
  font-size: 0.8rem;
}

.comments {
  background-color: #8cb5af;
}

.auto-responsive {
  min-height: 90px;
}

@media only screen and (max-width: 1365px) {
  html {
    font-size: 14px;
  }
  .left-column {
    max-width: 350px !important;
  }
}

@media only screen and (max-width: 1025px) {
  html {
    font-size: 13px;
  }
  .left-column {
    max-width: 300px !important;
  }
  #sidebar .widget {
    padding: 1rem !important;
  }

  .link-responsive,
  .auto-responsive {
    width: 468px;
    height: 60px;
    display: inline-block;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 812px) {
  html {
    font-size: 12px;
  }
  .left-column {
    max-width: 250px !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-links {
    height: 90px;
  }
  #sidebar h4 {
    font-size: 2.5rem;
  }
  #sidebar .widget {
    padding: 1rem !important;
  }
  #sidebar .widget ul {
    padding-left: 1rem;
  }
  .la-bg {
    margin-left: -10px;
  }
  .card-border-grey {
    padding: 0 !important;
    margin: 0;
    border: 0;
  }
  #pasos .nav-tabs .nav-link {
    font-size: 20px;
    padding: 5px 10px;
  }
  .index.p-4 {
    padding: 1rem 3rem !important;
  }
  .custom-counter li.counter {
    padding-left: 0;
  }
  .custom-counter ul {
    margin: 10px 0;
  }
  .custom-counter * {
    font-size: 0.8rem;
  }
  .p-5 {
    padding: 1rem !important;
  }
  table .ad-row {
    max-width: 300px;
  }
  .submenu {
    height: 80px;
  }

  .link-responsive,
  .auto-responsive {
    width: 320px;
    height: 50px;
    display: inline-block;
  }
  .right-column {
    padding-left: 2rem;
  }
  .display-3 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 767px) {
  .left-column {
    max-width: 100% !important;
  }
}
