<div class="p-5" {{#ifCond index '==' 0}}id="categories" {{/ifCond}}>
    <a href="/{{scholarship.slug}}/" itemprop="url">
        <h2 class="title">
            {{scholarship.title}}
        </h2>
    </a>
    <div class="py-3">
        {{{resultCompose scholarship cadena}}}
    </div>
    <a href="/{{scholarship.slug}}/" class="btn btn-info">{{ __ 'searchEngine.moreInfo' }}</a>
</div>
<hr>