<div class="footer">

  <p>{{ __ 'footer.copyright'}}<br>
    <a href="https://www.{{config 'SHORT_URL'}}{{ __ 'footer.legalLink' }}/" rel="nofollow" target="_blank">
      {{ __ 'footer.legalText'}}
    </a>
    |
    <a href="https://www.{{config 'SHORT_URL'}}{{ __ 'footer.privacyLink' }}/" rel="nofollow" target="_blank">
      {{ __ 'footer.privacyText' }}
    </a> |
    <a href="https://www.{{config 'SHORT_URL'}}{{ __ 'footer.cookieLink'}}/" rel="nofollow" target="_blank">
      {{ __ 'footer.cookieText'}}
    </a>
  </p>
</div>

</main>
<amp-user-notification layout="nodisplay" id="amp-user-notification">
  {{ __ 'footer.cookiesPopUp' }}
  <br /><a href="/{{ __ 'footer.cookieLink'}}/">+Info</a>
  <button on="tap:amp-user-notification.dismiss">{{ __ 'footer.cookiesCloseText' }}</button>
</amp-user-notification>

<amp-analytics type="googleanalytics">
  <script type="application/json">
          {
          "vars": {
            "account": "{{ config 'GOOGLE_ANALYTICS_ID' }}"
          },
          "triggers": {
            "default pageview": {
              "on": "visible",
              "request": "pageview",
              "vars": {
                "title": "{{ metas.canonical }}"
              }
            }
          }
        }
        </script>
</amp-analytics>
</body>

</html>