<amp-analytics type="googleanalytics">
  <script type="application/json">
        {
          "vars": {
            "account": "{{config 'GOOGLE_ANALYTICS_ID'}}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
        </script>
</amp-analytics>

<amp-auto-ads type="adsense" data-ad-client="{{config 'GOOGLE_ADSENSE_ID'}}">
</amp-auto-ads>

<div class="social">
  <amp-social-share type="twitter" width="45" height="33"></amp-social-share>
  <amp-social-share type="facebook" width="45" height="33" data-param-app_id="364388020768191"></amp-social-share>
  <amp-social-share type="email" width="45" height="33"></amp-social-share>
  <amp-social-share type="pinterest" width="45" height="33"></amp-social-share>
</div>

<div class="logo">
  <a href="/amp" title="{{config 'WEB_TITLE'}}">
    <amp-img alt="{{config 'WEB_TITLE'}}" src="/img/{{ config 'HD_IMG_NAME'}}" width="200" height="38"></amp-img>
  </a>
</div>