
    {{#ifCond index '!=' 4 }}
    <div class="row p-5 pb-1">
        {{#ifCond index '==' 0 }}
        <a href="/{{scholarship.slug}}/" itemprop="url">
        {{/ifCond}}
        {{#ifCond index '==' 3 }}
        <a href="/{{scholarship.slug}}/" itemprop="url">
        {{/ifCond}}
        {{#ifCond index '<' 3 }}
        <h2 class="title">
            {{scholarship.title}}
        </h2> 
        {{/ifCond}} 
        {{#ifCond index '>=' 3 }}
        <h3 class="display-4 title">
            {{scholarship.title}}
        </h3> 
        {{/ifCond}} 
        {{#ifCond index '==' 0}}
        </a>
        {{/ifCond}} 
        {{#ifCond index '==' 3}}
        </a>
        {{/ifCond}} 
        {{{resultCompose scholarship cadena false}}}  
    </div>
    {{/ifCond}} 
    {{#ifCond index '==' 4 }}
    <div class="row px-5">
        {{{resultCompose scholarship cadena false}}}  
    </div>
    {{/ifCond}} 
{{#ifCond index '==' 1}}
    <img src="/image/{{scholarship.slug}}.jpg" title="{{scholarship.title}}" class="mt-0mb-5 img-fluid" />
{{/ifCond}} 
{{#ifCond index '==' 5}}
    <img src="/image/{{scholarship.slug}}.jpg" title="{{scholarship.title}}" class="mt-0mb-5 img-fluid" />
{{/ifCond}} 