<meta property="og:title" content="{{metas.title}}" />
<meta property="og:description" content="{{metas.description}}" />
<meta property="og:type" content="{{metas.type}}" />
<meta property="og:url" content="{{metas.canonical}}" />
<meta property="og:image" content="{{ogImage metas.canonical}}" />