<div class="comments" id="comments">
    <div class="container">
        {{#if scholarship.comments }}
        <div class="py-4">
            <div class="container" id="dudas">
                <h3 class="pt-5 pb-5 display-4 text-center">{{config 'SCH_COMMENTS_TITLE'}}</h3>
                <div class="alert alert-info" role="alert">
                    {{config 'SCH_COMMENTS_TEXT'}}
                </div>
                {{#each scholarship.comments }}
                <blockquote class="blockquote p-5">
                    <p class="mb-0">{{ this.message}}</p>
                    <div class="blockquote-footer">{{config 'SCH_COMMENTS_PUBLISHED_BY'}} <cite title="{{this.name}}">{{this.name}}</cite></div>
                    <div class="text-right mt-1">
                        <a href="#response" class="btn disabled">
                            {{config 'SCH_COMMENTS_REPLY'}}
                        </a>
                    </div>
                </blockquote>
                {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</div>