<script type="application/ld+json">
    {"@context":"http://schema.org/","@graph":[{"@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":"1","item":{"@id":"{{config 'URL'}}","name":"{{config 'WEB_TITLE'}}","image":"{{config 'URL'}}img/{{config 'HD_IMG_NAME'}}"}},{"@type":"ListItem","position":"2","item":{"@id":"{{config 'URL'}}{{config 'CATEGORY_BASE'}}/{{category.slug}}/","name":"{{category.name}}"}},{"@type":"ListItem","position":"3","item":{"@id":"{{config 'URL'}}{{scholarship.slug}}/","name":"{{scholarship.title}}","image":"{{config 'URL'}}image/{{scholarship.slug}}.jpg"}}]},{"@type":"Article","headline":"{{scholarship.title}}","image":{"@type":"ImageObject","url":"{{config 'URL'}}image/{{scholarship.slug}}.jpg","width":1112,"height":260},"mainEntityOfPage":{"@type":"WebPage","@id":"{{config 'URL'}}{{scholarship.slug}}/"},"description":"{{metas.description}}","datePublished":"{{scholarship.insertDate}}","dateModified":"{{scholarship.lastEditionDate}}","author":{"@type":"Person","name":"Noelia R."},"publisher":{"@type":"Organization","name":"Kicaweb","logo":{"@type":"ImageObject","url":"{{config 'KICAWEB_LOGO_PATH'}}"}}},{"@type":"Grant","url":"{{config 'URL'}}{{scholarship.slug}}/","name":"{{scholarship.title}}","fundedItem":{"@type":"Article","identifier":"{{scholarship.source.url}}","author":{"@type":"Person","name":"Unknown"},"publisher":{"@type":"Organization","name":"Kicaweb","logo":{"@type":"ImageObject","url":"{{config 'KICAWEB_LOGO_PATH'}}"}},"datePublished":"{{scholarship.insertDate}}","headline":"{{scholarship.title}}","image":{"@type":"ImageObject","url":"{{config 'URL'}}image/{{scholarship.slug}}.jpg","width":1112,"height":260},"mainEntityOfPage":{"@type":"WebPage","@id":"{{config 'URL'}}{{scholarship.slug}}/"}},"mainEntityOfPage":{"@type":"WebPage","@id":"{{config 'URL'}}{{scholarship.slug}}/"}}]}
</script>
{{!-- <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": "1",
          "item": {
            "@id": "{{config 'URL'}}",
            "name": "{{config 'WEB_TITLE'}}",
            "image": "{{config 'URL'}}img/{{config 'HD_IMG_NAME'}}"
          }
        },
        {
          "@type": "ListItem",
          "position": "2",
          "item": {
            "@id": "{{config 'URL'}}{{config 'CATEGORY_BASE'}}/{{category.slug}}/",
            "name": "{{category.name}}"
          }
        },
        {
          "@type": "ListItem",
          "position": "3",
          "item": {
            "@id": "{{config 'URL'}}{{scholarship.slug}}/",
            "name": "{{scholarship.title}}",
            "image": "{{config 'URL'}}image/{{scholarship.slug}}.jpg"
          }
        }
      ]
    },
    {
      "@type": "Article",
      "headline": "{{scholarship.title}}",
      "image": {
        "@type": "ImageObject",
        "url": "{{config 'URL'}}image/{{scholarship.slug}}.jpg",
        "width": 1112,
        "height": 260
      },
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{config 'URL'}}{{scholarship.slug}}/"
      },
      "description": "{{metas.description}}",
      "datePublished": "{{scholarship.insertDate}}",
      "dateModified": "{{scholarship.lastEditionDate}}",
      "author": {
        "@type": "Person",
        "name": "Noelia R."
      },
      "publisher": {
        "@type": "Organization",
        "name": "Kicaweb",
        "logo": {
          "@type": "ImageObject",
          "url": "{{config 'KICAWEB_LOGO_PATH'}}"
        }
      }
    },
    {
      "@type": "Grant",
      "url": "{{config 'URL'}}{{scholarship.slug}}/",
      "name": "{{scholarship.title}}",
      "fundedItem": {
        "@type": "Article",
        "identifier": "{{scholarship.source.url}}",
        "author": {
            "@type": "Person",
            "name": "Unknown"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Kicaweb",
            "logo": {
            "@type": "ImageObject",
            "url": "{{config 'KICAWEB_LOGO_PATH'}}"
            }
        },
        "datePublished": "{{scholarship.insertDate}}",
        "headline": "{{scholarship.title}}",
        "image": {
            "@type": "ImageObject",
            "url": "{{config 'URL'}}image/{{scholarship.slug}}.jpg",
            "width": 1112,
            "height": 260
        },      
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{config 'URL'}}{{scholarship.slug}}/"
        }
      },      
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{config 'URL'}}{{scholarship.slug}}/"
      }
    }
  ]
}
</script> --}}