<div class="modal" id="newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
    style="background-color: rgba(0,0,0,.4)">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="close-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="text-center my-4">
                    {{{ __ "newsletter.intro" }}}
                    <form class="needs-validation" novalidate id="newsletterForm">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="text" name="name" class="form-control" id="validationCustom01" placeholder='{{ __ "newsletter.namePlaceholder" }}'
                                    required />
                                <div class="valid-feedback">
                                    {{ __ "newsletter.validName" }}
                                </div>
                                <div class="invalid-feedback">
                                    {{ __ "newsletter.invalidName" }}
                                </div>
                            </div>
                            <div class="col-md-6 text-effect">
                                <input type="email" name="email" class="form-control" id="validationCustomUsername" placeholder='{{ __ "newsletter.emailPlaceholder" }}'
                                    aria-describedby="emailHelp" required>
                                <div class="invalid-feedback">
                                    {{ __ "newsletter.invalidEmail" }}
                                </div>
                                <div class="valid-feedback">
                                    {{ __ "newsletter.validEmail" }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                <label class="form-check-label" for="invalidCheck">
                                    {{{ replaceStr (__ "newsletter.privacyLabel") '[PRIVACYURL]' (__ "footer.privacyLink")}}}
                                </label>
                                    {{{ replaceStr (__ "newsletter.privacyText") '[PRIVACYURL]' (__ "footer.privacyLink")}}}
                                <div class="invalid-feedback">
                                    {{ __ "newsletter.invalidPrivacy" }}
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="btnSubscribe">{{ __ "newsletter.buttonLabel" }}</button>
                    </form>
                    <div id="infoSubmit">
                        <span class="error" id="errorSubmit" style="display: none;">{{ __ "newsletter.error" }}</span>
                        <span class="success" id="successSubmit" style="display: none;">{{ __ "newsletter.success" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>