<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="th-lg">{{{ __ "category.scholarshipLabel" }}}</th>
            <th scope="col" class="d-none d-md-table-cell">{{{ __ "category.deadLineLabel" }}}</th>
            <th scope="col">Info</th>
        </tr>
    </thead>
    <tbody>
        {{#each scholarships}} {{> category/listedScholarship scholarship=this }} {{/each}}
    </tbody>
</table>