<tr>
    <th scope="row">
        <a href="/{{scholarship.slug}}/" itemprop="url">
            {{scholarship.title}}
        </a>
        <br />
        <span class="categories">{{{ formatCategories scholarship.categories}}} </span>
    </th>

    <td class="d-none d-md-table-cell">
        {{dateFormat scholarship.endDuration "abr" true scholarship.endDuration}}
    </td>

    <td>
        <a href="/{{scholarship.slug}}/" itemprop="url">
            <button type="button" class="btn btn-sm">+info</button>
        </a>
    </td>
</tr>