<tr>
    <th scope="row">
        <a href="/{{ config 'CATEGORY_BASE'}}/{{category.slug}}/" itemprop="url">
            {{category.name}}
        </a>
    </th>

    <td>
        <a href="/{{ config 'CATEGORY_BASE'}}/{{category.slug}}/" itemprop="url">
            <button type="button" class="btn btn-sm">+info</button>
        </a>
    </td>
</tr>