<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Info</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="parent-subcategories">
        {{#each category.subCategories}} {{> category/listedCategory category=this }} {{/each}}
    </tbody>
</table>