#newsletter-modal .modal-header {
  border: 0;
  padding: 0 5px 0 0;
}
#newsletter-modal .modal-content {
  border-radius: 0;
  border: 0;
  font-family: Raleway, sans-serif;
}

#newsletter-modal .form-check {
  padding: 0;
}

#newsletter-modal .form-control {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  background-color: #d3e5e2;
}

#newsletter-modal .form-check-label {
  font-size: 13px;
}

#newsletter-modal .form-check-input {
  font-size: 13px;
  margin-top: 14px;
}
#newsletter-modal .form-control::placeholder {
  color: #fff;
}
#newsletter-modal .valid-feedback {
  font-size: 14px;
}
#infoSubmit {
  font-size: 14px;
  margin-top: 5px;
}
#infoSubmit .error {
  color: red;
}

#infoSubmit .success {
  color: green;
}
